mechanical/major[[:space:]]subassemblies/console[[:space:]]assembly/7000-0246.STEP filter=lfs diff=lfs merge=lfs -text
mechanical/major[[:space:]]subassemblies/console[[:space:]]assembly/7000-0246.zip filter=lfs diff=lfs merge=lfs -text
mechanical/major[[:space:]]subassemblies/console[[:space:]]housing/7000-0145.zip filter=lfs diff=lfs merge=lfs -text
mechanical/major[[:space:]]subassemblies/headset/7000-0235.zip filter=lfs diff=lfs merge=lfs -text
mechanical/major[[:space:]]subassemblies/headset/7000-0248.zip filter=lfs diff=lfs merge=lfs -text
mechanical/stl/7000-0235[[:space:]]-[[:space:]]VISOR[[:space:]]ASSEMBLY,[[:space:]]GEN[[:space:]]2.5[[:space:]]-[[:space:]]R01.STL filter=lfs diff=lfs merge=lfs -text
